<section class="banner" data-scroll-index='0'>
  <div class="banner-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="banner-text">
            <h2 class="white">Best App Website Template</h2>
            <h6 class="white">This awesome template is designed by <a href="http://w3Template.com" 
                  target="_blank" rel="dofollow" class="weblink">W3 Template</a>.
            </h6>
            <p class="banner-text white">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="assets/images/iphone-screen.png" class="img-fluid wow fadeInUp"/>
        </div>
      </div>
    </div>
  </div>
</section>
